{{# if login }}
<li><a href="/user/profile">User Account</a></li>
<li><a href="/user/signout">Sign out</a></li>
{{# each tweets }}
{{# each this }}
<p>{{this.tweet}} </p>
<i>{{this.author}}</i>
{{/each}}
{{/each}}
{{ else }}
<li><a href="/user/signup">Sign up</a></li>
<li><a href="/user/signin">Sign in</a></li>
<h1>Tweets</h1>
{{# each tweets }}
{{# each this }}
<p>{{this.tweet}} </p>
<i>{{this.author}}</i>
{{/each}}
{{/each}}
{{/if}}
