{{# if login }}

<div class="block">
    <a class="nav-item" href="/user/profile">User Account</a>
    <a class="nav-item" href="/user/signout">Sign out</a>
    <h1 class-"title is-1">Tweets</h1>
    {{# each tweets }}
    {{# each this }}
    <div class="notification">
        <p>{{this.tweet}} </p>
        <i>{{this.author}}</i>
    </div>
    {{/each}}
    {{/each}}
</div>

{{ else }}

<div class="block">

    <a class="nav-item" href="/user/signup">Sign up</a></li>
    <a class="nav-item" href="/user/signin">Sign in</a></li>

    <h1 class-"title is-1">Tweets</h1>
    {{# each tweets }}
    {{# each this }}
    <div class="notification">
        <p>{{this.tweet}} </p>
        <i>{{this.author}}</i>
    </div>
    {{/each}}
    {{/each}}
</div> 

    {{/if}}
